/dist/
/obj/
*.o
/scratch/
tools/atomic_probe
tools/getfb
tools/grab_test
tools/seq_probe
tools/seq_dump_ioctl.so
tools/render_preview
tools/render_conf_preview
tools/preview*.ppm
tools/preview*.png
tools/seq_watch
